# 01. Merging Orders and Products Data Sets

In [1]:
#Importing libraries
import pandas as pd
import numpy as np
import os

In [2]:
path=r'C:\Users\jphil\OneDrive\Documents\CareerFoundry Data Analytics\Data Immersion\Achievement 4\Data'

In [4]:
#Importing pkl file
df_ords_cmb=pd.read_pickle(os.path.join(path, 'Prepared Data', 'orders_products_combined.pkl'))

In [5]:
df_ords_cmb.shape

(32434489, 10)

In [6]:
df_ords_cmb.head()

,order_id,user_id,order_number,orders_day_of_week,order_hour,days_since_prior_order,product_id,add_to_cart_order,reordered,_merge
0,2539329,1,1,2,8,11.1,196,1,0,both
1,2539329,1,1,2,8,11.1,14084,2,0,both
2,2539329,1,1,2,8,11.1,12427,3,0,both
3,2539329,1,1,2,8,11.1,26088,4,0,both
4,2539329,1,1,2,8,11.1,26405,5,0,both

In [7]:
df_prods=pd.read_csv(os.path.join(path, 'Prepared Data', 'products_checked.csv'), index_col=False)

In [8]:
df_prods.shape

(49672, 6)

In [9]:
df_prods.head()

,Unnamed: 0,product_id,product_name,aisle_id,department_id,prices
0,0,1,Chocolate Sandwich Cookies,61,19,5.8
1,1,2,All-Seasons Salt,104,13,9.3
2,2,3,Robust Golden Unsweetened Oolong Tea,94,7,4.5
3,3,4,Smart Ones Classic Favorites Mini Rigatoni Wit...,38,1,10.5
4,4,5,Green Chile Anytime Sauce,5,13,4.3

In [10]:
#Merging the two datasets
df_merged=df_ords_cmb.merge(df_prods, on='product_id', how='left')

In [11]:
df_merged.head()

,order_id,user_id,order_number,orders_day_of_week,order_hour,days_since_prior_order,product_id,add_to_cart_order,reordered,_merge,Unnamed: 0,product_name,aisle_id,department_id,prices
0,2539329,1,1,2,8,11.1,196,1,0,both,195.0,Soda,77.0,7.0,9.0
1,2539329,1,1,2,8,11.1,14084,2,0,both,14084.0,Organic Unsweetened Vanilla Almond Milk,91.0,16.0,12.5
2,2539329,1,1,2,8,11.1,12427,3,0,both,12427.0,Original Beef Jerky,23.0,19.0,4.4
3,2539329,1,1,2,8,11.1,26088,4,0,both,26089.0,Aged White Cheddar Popcorn,23.0,19.0,4.7
4,2539329,1,1,2,8,11.1,26405,5,0,both,26406.0,XL Pick-A-Size Paper Towel Rolls,54.0,17.0,1.0

In [12]:
#Checking results
df_merged['_merge'].value_counts()

_merge
both          32435059
left_only            0
right_only           0
Name: count, dtype: int64

In [13]:
#Exporting combined set
df_merged.to_pickle(os.path.join(path, 'Prepared Data', 'ords_prods_merge.pkl'))