# 01. Deriving new variables Practice

In [1]:
#Importing libraries
import pandas as pd
import numpy as np
import os

In [2]:
path=r'C:\Users\jphil\OneDrive\Documents\CareerFoundry Data Analytics\Data Immersion\Achievement 4\Data'

In [5]:
df_merged=pd.read_pickle(os.path.join(path, 'Prepared Data', 'ords_prods_merge.pkl'))

In [6]:
#creating a subset with the first 1 million rows
df=df_merged[:1000000]

In [7]:
df.shape

(1000000, 15)

In [8]:
#Define a function
def price_label(row):
    if row['prices']<=5:
        return 'Low range product'
    elif(row['prices']>5) and (row['prices']<=15):
        return 'Mid range product'
    elif row['prices']>15:
        return 'High range product'
    else: return np.nan

In [9]:
#Apply the function
df['price_range']=df.apply(price_label, axis=1)

C:\Users\jphil\AppData\Local\Temp\ipykernel_6944\4130505434.py:2: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df['price_range']=df.apply(price_label, axis=1)

In [10]:
df['price_range'].value_counts(dropna=False)

price_range
Mid range product     672525
Low range product     314109
High range product     12413
NaN                      953
Name: count, dtype: int64

In [11]:
df['prices'].max()

99999.0

In [12]:
#switching to use the loc() function
df.loc[df['prices'] > 15, 'price_range_loc'] = 'High-range product'

C:\Users\jphil\AppData\Local\Temp\ipykernel_6944\2537477756.py:2: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df.loc[df['prices'] > 15, 'price_range_loc'] = 'High-range product'

In [13]:
df.loc[(df['prices'] <= 15) & (df['prices'] > 5), 'price_range_loc'] = 'Mid-range product'

In [14]:
df.loc[df['prices'] <= 5, 'price_range_loc'] = 'Low-range product'

In [15]:
df['price_range_loc'].value_counts(dropna=False)

price_range_loc
Mid-range product     672525
Low-range product     314109
High-range product     12413
NaN                      953
Name: count, dtype: int64

In [16]:
#now running the loc() function on the whole df
df_merged.loc[df_merged['prices']>15, 'price_range_loc']= 'High-range product'

In [17]:
df_merged.loc[(df_merged['prices']<=15) & (df_merged['prices']>5), 'price_range_loc']= 'Mid-range product'

In [18]:
df_merged.loc[df_merged['prices']<=5, 'price_range_loc']= 'Low-range product'

In [21]:
price_range_loc=df_merged['price_range_loc'].value_counts(dropna=False)

In [22]:
price_range_loc

price_range_loc
Mid-range product     21860860
Low-range product     10126321
High-range product      417678
NaN                      30200
Name: count, dtype: int64

In [23]:
price_range_loc.to_clipboard()

In [24]:
#Finding which day most orders take place
df_merged['orders_day_of_week'].value_counts(dropna=False)

orders_day_of_week
0    6209808
1    5665951
6    4500391
2    4217868
5    4209603
3    3844175
4    3787263
Name: count, dtype: int64

In [25]:
#using a for-loop to classify days based on busyness
result = []

for value in df_merged["orders_day_of_week"]:
  if value == 0:
    result.append("Busiest day")
  elif value == 4:
    result.append("Least busy")
  else:
    result.append("Regularly busy")

In [26]:
df_merged['busiest_day']= result

In [28]:
busiest_day=df_merged['busiest_day'].value_counts(dropna=False)
busiest_day

busiest_day
Regularly busy    22437988
Busiest day        6209808
Least busy         3787263
Name: count, dtype: int64

In [30]:
busiest_day.to_clipboard()

In [41]:
df_merged.head()

,order_id,user_id,order_number,orders_day_of_week,order_hour,days_since_prior_order,product_id,add_to_cart_order,reordered,_merge,Unnamed: 0,product_name,aisle_id,department_id,prices,price_range_loc,busiest day,busiest_day
0,2539329,1,1,2,8,11.1,196,1,0,both,195.0,Soda,77.0,7.0,9.0,Mid-range product,Regularly busy,Regularly busy
1,2539329,1,1,2,8,11.1,14084,2,0,both,14084.0,Organic Unsweetened Vanilla Almond Milk,91.0,16.0,12.5,Mid-range product,Regularly busy,Regularly busy
2,2539329,1,1,2,8,11.1,12427,3,0,both,12427.0,Original Beef Jerky,23.0,19.0,4.4,Low-range product,Regularly busy,Regularly busy
3,2539329,1,1,2,8,11.1,26088,4,0,both,26089.0,Aged White Cheddar Popcorn,23.0,19.0,4.7,Low-range product,Regularly busy,Regularly busy
4,2539329,1,1,2,8,11.1,26405,5,0,both,26406.0,XL Pick-A-Size Paper Towel Rolls,54.0,17.0,1.0,Low-range product,Regularly busy,Regularly busy

In [31]:
#using a for-loop to make a busiest days column
results = []

for value in df_merged["orders_day_of_week"]:
  if value == 0 or value == 1:
    results.append("Busiest days")
  elif value == 3 or value == 4:
    results.append("Slowest days")
  else:
    results.append("Regularly busy")

In [32]:
df_merged['busiest_days']= results

In [33]:
#checking for frequency of busy days
busiest_days=df_merged['busiest_days'].value_counts(dropna=False)
busiest_days

busiest_days
Regularly busy    12927862
Busiest days      11875759
Slowest days       7631438
Name: count, dtype: int64

In [34]:
busiest_days.to_clipboard()

In [35]:
#checking which hours are busiest
df_merged['order_hour'].value_counts(dropna=False)

order_hour
10    2764476
11    2738647
14    2691598
15    2664583
13    2663346
12    2620898
16    2537506
9     2456751
17    2089510
8     1719991
18    1637956
19    1259416
20     977049
7      891951
21     796379
22     634743
23     402621
6      290796
0      218951
1      115787
5       88064
2       69435
4       53284
3       51321
Name: count, dtype: int64

In [36]:
#in order to make three groups in terms of busiest hour, I will break up the 24 hours into 3 groups of 8.
results_1 = []

for value in df_merged["order_hour"]:
  if value == 9 or value == 10 or value==11 or value ==12 or value==13 or value==14 or value==15 or value==16:
    results_1.append("Most orders")
  elif value == 7 or value == 8 or value ==17 or value==18 or value==19 or value==20 or value==21 or value==22:
    results_1.append("Average orders")
  else:
    results_1.append("Fewest orders")

In [37]:
df_merged['busiest_period_of_day']= results_1

In [38]:
#checking for frequency of busy hours
bpod=df_merged['busiest_period_of_day'].value_counts(dropna=False)
bpod

busiest_period_of_day
Most orders       21137805
Average orders    10006995
Fewest orders      1290259
Name: count, dtype: int64

In [39]:
bpod.to_clipboard()

In [ ]:
#These results show us the busiest 8 hours, or 1/3 day, contain about 2/3 of all orders

In [60]:
#Exporting dataframe
df_merged.to_pickle(os.path.join(path, 'Prepared Data', 'ords_prods_derived.pkl'))